@model IEnumerable<CHMSPortal.Areas.FrontOffice.Models.GuestHouseList>

@{
    ViewBag.Title = "GuestHouseList";
}

<h2>GuestHouseList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameofManager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestHouseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STDCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNoOffice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNoHome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameofManager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestHouseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STDCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNoOffice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNoHome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
